.pokemon-naming {
  margin-top: 10px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  width: 300px;
  height: 32px;
  padding: 0px 8px;

  &.error{
    border: 1px solid #ff1c1c;
  }
}

.pokemon-error {
  font-size: 14px;
  margin-top: 6px;
  color: #ff1c1c;
}

.btn-save {
  width: 120px;
  padding: 12px 0px;
  border: none;
  background-color: #007bff;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.btn-close {
  width: 120px;
  padding: 12px 0px;
  border: none;
  background-color: #6c757d;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}